@import url("https://fonts.googleapis.com/css2?family=Asimovian&family=Bangers&display=swap");

#form{
  width: 50%;
  padding: 20px;
  border-radius: 10px !important;
  background: rgba(106, 27, 154, 0.3);
  margin: 20px auto !important;
  color: #ffffff !important;
  align-items: center;
}

#form .MuiInputLabel-root{
  color: rgba(255, 255, 255, 0.6);
  font-family: "Asimovian", sans-serif !important;
}

#form .MuiInputBase-root {
  background: rgba(157, 0, 255, 0.3);
  border-radius: 10px;
}

#form .MuiInputBase-root:hover {
  outline: 2px solid white;
}

#form .MuiInputBase-input,
#form .MuiSelect-select
{
  color: white !important;
  font-family: "Asimovian", sans-serif;
  text-align: left;
}

#form .MuiButton-root {
  padding: 10px;
  background-color: #940EE1;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-family: "Asimovian", sans-serif;
  text-transform: uppercase;
}

#form .MuiButton-root:hover {
  transform: scale(1.03);
  outline: 2px solid white;
}

.text{
  font-family: "Asimovian", sans-serif !important;
}

