@import url("https://fonts.googleapis.com/css2?family=Asimovian&family=Bangers&display=swap");

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 20px;
    margin-bottom: 50px;
}

nav ul li a {
    display: inline-block;
    padding: 15px 30px;
    background-color:#940EE1;
    color: white;           
    text-decoration: none;
    font-family: 'Asimovian', sans-serif;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 8px 0 #650A99; 
    transition: all 0.2s ease;
    position: relative;
}

nav ul li a:not(.active):hover {
    box-shadow: 0 8px 0 #650A99, 0 6px 25px #C166F5;
}

nav ul li a:active, .active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #48076E, 0 0 20px #C166F5, 0 0 30px #C166F5;
    background-color: #810DC5;
    color: #fff;
    text-shadow: 0 0 15px #f062ff;
}
