@import url("https://fonts.googleapis.com/css2?family=Asimovian&family=Bangers&display=swap");

.lista{
    background-color: #121317 !important;
    border-radius: 30px !important;
    box-shadow: 0 0 25px #940EE1 !important;
    margin: 40px !important;
}

.lista:hover{
    box-shadow: 0 0 35px #940EE1 !important;
    transform: scale(1.03) !important;
}

.MuiContainer-root, .MuiContainer-root *{
    font-family: 'Asimovian', sans-serif !important;
    color: white !important;
}

.MuiPaper-root * {
    text-align: center !important;
}